
.imgDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(343.07deg, rgba(132, 59, 206, 0.06) 5.71%, rgba(132, 59, 206, 0) 64.83%);
display: flex;
justify-content: center;
position: relative;
z-index: 1;
align-items: center;
clip-path: polygon(0 0, 100% 0, 100% 100%,100% 98%, 0 100%);

}

.imgDiv img{
    width: 15%;
    border-radius: 2%;
    margin: 10px;
    aspect-ratio: 3/2;
    object-fit: contain;
}